<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>EloMapper</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
	<h1 class="title is-1" style="text-align: center;">EloMapper</h1>
</body>
<div class="notification is-primary" style="display: none;">
	<button class="delete is-large" onclick="this.parentElement.style.display='none';"></button>
	<div id="alert-box"></div>
</div>
<div class ="box has-background-info">
<div class="box">
	<h2 class="label"> Add/Update Player</h2>
	<input class="input" rows="1" id="add-player-name" placeholder="Player Tag"></input>
	<input class="input" rows="1" id="add-player-elo" placeholder="Player Elo"></input>
	<div class="columns">
		<div class="column is-half"><button class="button is-fullwidth is-primary" id="add-player-btn">Add</button></div>
		<div class="column"><button class="button is-fullwidth is-primary" id="update-player-btn">Update</button></div>
	</div>
</div>
<div class="box">
	<h2 class="label">Get Players Elo</h2>
	<input class="input" rows="1" id="get-player-name" placeholder="Player Tag"></input>
	<button class="button is-fullwidth is-success" id="get-player-btn">Submit</button>
</div>
<div class="box">
	<h2 class="label">Decide Match and Update Elo</h2>
	<input class="input" rows="1" id="decide-player-a" placeholder="Player A Tag"></input>
	<input class="input" rows="1" id="decide-player-b" placeholder="Player B Tag"></input>
	<select class="select is-fullwidth" id="decide-result" name="decide-result">
		<option value="WIN">WIN</option>
		<option value="LOSS">LOSS</option>
		<option value="TIE">TIE</option>
	</select>
	<button class="button is-fullwidth is-info" id="decide-btn">Submit</button>
</div>
<div class="box">
	<button class="button is-fullwidth is-info" id="get-player-list-btn">Get Player List</button>
</div>

<div class="box">
	<h2 class="label">Delete Player</h2>
	<input class="input" rows="1" id="delete-player-name" placeholder="Player Tag"></input>
	<button class="button is-fullwidth is-danger" id="delete-player-btn">Submit</button>
</div>

</div>
<script src="/js/elomapper.js"></script>
<script src="/js/app.js"></script>

</html>