<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>EloMapper</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
	<h1>Welcome to EloMapper</h1>
</body>

<div>
	<h1> Add/Update Player</h1>
	<textarea id="add-player-name"></textarea>
	<textarea id="add-player-elo"></textarea>
	<button id="addPlayer">Add</button>
	<button>Update</button>
</div>
<div>
	<h1>Get Players Elo</h1>
	<textarea></textarea>
	<button>Submit</button>
</div>
<div>
	<h1>Add Match</h1>
	<textarea></textarea>
	<textarea></textarea>
	<textarea></textarea>
	<button>Submit</button>
</div>

<script src="/js/elomapper.js"></script>
<script src="/js/app.js"></script>
</html>